div {
    text-align: center;
    margin: 0 auto;
}

.GearList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    margin: auto;
}

.GearImg {
    height: 200px;
    width: auto;
    border-radius: 15px;
}

.GearImg:hover {
    transform: scale(1.1);
    transition: all .3s ease;
    cursor: pointer;

}