div {
  text-align: center;
  margin: 0 auto;
}

.AmpList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin: auto;
  margin-top: 4%;
  margin-left: 15%;
}

.AmpImg {
  height: 200px;
  width: auto;
  border-radius: 15px;
}

.AmpImg:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
  cursor: pointer;
}
