div{
    text-align: center;
    margin: 0 auto;
}

.AccessoryList{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: auto;
}
.AccessoryImg{
    height: 200px;
    width: auto;
    border-radius: 15px;
}
.AccessoryImg:hover{
    transform: scale(1.1);
    transition: all .3s ease;
    cursor: pointer;

}