.followingContainer {
  text-align: center;
  margin: 0 auto;
}

.followingList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  margin-top: 4%;
  justify-items: center;
  align-items: center;
  gap: 20px;
}

.followingAvatar {
  height: 50px; 
  width: 50px;
  font-size: 24px;
  line-height: 50px;
  text-align: center;
  border-radius: 15px; 
}

.followingAvatar:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
  cursor: pointer;
}
